{% extends 'basic.html' %}



 {%block title %}Resume{%endblock title%}


{% block body %}
        <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Talented backend developer adept at contributing to highly collaborative work environment, finding solutions
and determining customer satisfaction. Designed and developed web applications across multiple APIs,
third-party integrations and databases. Passionate and hardworking with penchant for developing
customized interfaces that factor in unique demands for accessibility, reachability and security.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Ravhan Shafi</h4>
              <p><em>Graduate of computer science with experience working across the
Back-End of software development. Looking for a role where I can
grow and learn from experienced team members while drawing on
project experience I have already successfully executed.</em></p>
              <ul>
                <li>Jammu and Kashmir,Srinagar</li>
                <li>+917889467068</li>
                <li>sayimshah99@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>12th class</h4>
              <h5>2015 - 2016</h5>
              <p><em>Soura higher secondary, Srinagar</em></p>
              <p>Paased my 12th class examination with 81.6% </p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Technology in Computer Science Engineering</h4>
              <h5>2018 - 2022</h5>
              <p><em>SSM college of Engineering,Baramulla </em></p>
              <p>An innovative thinker, initiative taker and multi dimensional professional with exceptional logical and analytical skills possesses 3+ experience as a computer science engineer. Experience in designing, developing, implementing and testing computer-based hardware and software.</p>
            </div>
            <div class="resume-item">
              <h4>Projects</h4>
              <ul>
                <li > <a href="https://github.com/sayimshah/MeetOn" class="github" target=_blank><i class="bx bxl-github">  MeetON </i></a></li>
                <li>Alaa Cabs </li>
                <li>pro School</li>
                <li>Jet Routes</li>
                {% comment %} <li>Work as part of our backend team and be responsible for diverse and challenging backend development efforts</li>
                <li>Provide assistance in training on key functions of the product</li> {% endcomment %}
              </ul>
              {% comment %} <h5>2018 - 2022</h5> {% endcomment %}
              {% comment %} <p><em>SSM college of Engineering,Baramulla </em></p> {% endcomment %}
              {% comment %} <p>An innovative thinker, initiative taker and multi dimensional professional with exceptional logical and analytical skills possesses 3+ experience as a computer science engineer. Experience in designing, developing, implementing and testing computer-based hardware and software.</p> {% endcomment %}
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Backend developer</h4>
              <h5>March 2022 - August 2022</h5>
              <p><em>Jammu and Kashmir,Srinagar </em></p>
              <ul>
                <li>Experience in  building frameworks and automating complex workflows using Python</li>
                <li>Develop and improve features for different areas in our backend </li>
                <li>Working in a very iterative/agile development environment</li>
                <li>Work closely with the development team to deliver on-time, on budget, high value projects</li>
                <li>Work as part of our backend team and be responsible for diverse and challenging backend development efforts</li>
                <li>Provide assistance in training on key functions of the product</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>skills</h4>
              {% comment %} <h5>March 2022 - August 2022</h5>
              <p><em>Jammu and Kashmir,Srinagar </em></p> {% endcomment %}
              <ul>
                <li>Python (Django) </li>
                {% comment %} <li>Django </li> {% endcomment %}
                <li>Django RESTFrame Work</li>
                <li>SQL (PostgreSQL, MySQL)</li>
                <li>HTML-CSS-JavaScript</li>
                <li>Git</li>
              </ul>
            </div>
            {% comment %} <div class="resume-item">
              <h4>Graphic design specialist</h4>
              <h5>2017 - 2018</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
              </ul>
            </div> {% endcomment %}
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
    {% endblock body %}